<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oracle.web.mapper.FenleiMapper">
  <resultMap id="BaseResultMap" type="com.oracle.web.bean.Fenlei">
    <id column="fid" jdbcType="INTEGER" property="fid"/>
    <result column="fname" jdbcType="VARCHAR" property="fname" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
     delete from fenlei
    where fid = #{fid,jdbcType=INTEGER}

  </delete>
  <insert id="insert" parameterType="com.oracle.web.bean.Fenlei">
    insert into fenlei (fid, fname)
    values (#{fid,jdbcType=INTEGER}, #{fname,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.oracle.web.bean.Fenlei">
    update fenlei
    set fname = #{fname,jdbcType=VARCHAR}
    where fid = #{fid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select fid, fname
    from fenlei
    where fid = #{fid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select fid, fname
    from fenlei
  </select>
  <select id="findfenlei"  parameterType="com.oracle.web.bean.Fenlei" resultMap="BaseResultMap">
	   select * from fenlei where fname = #{fname,jdbcType=VARCHAR}
    </select>
    
   <select id="showByPage" resultMap="BaseResultMap">
  	
  	select * from fenlei order by fid desc
    
  </select>
    <select id="getCount" resultType="int">
  	SELECT COUNT(*) FROM Fenlei
  </select>
  
  <!-- <delete id="showFenleiByIds" parameterType="java.lang.Integer">

    delete from fenlei where 
    <foreach collection="array" item="ids" open="(" separator=","
			close=")">
			#{ids}
		</foreach>
  </delete>
  -->
  <select id="showfenleiById" parameterType="java.lang.String" resultMap="BaseResultMap">
  
   select * from fenlei where fid in
   
  <foreach item="arr" collection="array" index="no" open="(" separator="," close=")">
    
   #{arr}
	
  </foreach>
  
  </select>
  
  <select id="selectAll2" resultMap="BaseResultMap">
  
  select * from fenlei
  
  </select>
  
  <select id="yanzhengAddFenlei2" parameterType="java.lang.Integer" resultType="java.lang.Integer">
   
    SELECT COUNT(*) FROM book WHERE f_id =#{fid}
  
  </select>
</mapper>